<h3>
  Login
</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <input type="text" placeholder="Username" formControlName="username" />
  </p>

  <p>
    <input type="password" placeholder="Password" formControlName="password" />
  </p>

  <div *ngIf="form.invalid && (form.dirty || form.touched)"
       class="loginError">

    <div *ngIf="username.errors.required">
      Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors.forbiddenName">
      Name cannot be Bob.
    </div>
  <p>
    <button type="submit">Login</button>
  </p>
</form>
